In [17]:
import pandas as pd

df = pd.read_csv("nsdata1.txt",  delimiter=r"\s+")

# After inspecting the data, I found that all three files contain different values 
# for the amount of passangers in each train.
# but all 3 files run on the same schedule (time-wise).

# The labels of the cities are:
AMSTERDAM = 1
ROTTERDAM = 2
ROOSENDAAL = 3
VLISSINGEN = 4

df.head(10)

,train_number,from,to,departure_time,arrival_time,first_class,second_class
0,2123,2,3,700,740,4,58
1,2123,3,4,743,838,14,328
2,2127,1,2,648,755,47,340
3,2127,2,3,801,841,35,272
4,2127,3,4,843,938,19,181
5,2131,1,2,755,858,100,616
6,2131,2,3,902,941,52,396
7,2131,3,4,943,1038,27,270
8,2135,1,2,856,958,61,407
9,2135,2,3,1003,1043,41,364

In [18]:
def to_minutes_past_midnight(time: int) -> int:
    """
    Converts the time as used in the data-files to minutes past midnight.
    """

    assert type(time) == int, "The time must be an integer!"

    hours = time // 100
    minutes = time % 100

    return 60*hours + minutes

In [20]:
df['departure_time'] = df['departure_time'].map(lambda x: to_minutes_past_midnight(x))
df['arrival_time'] = df['arrival_time'].map(lambda x: to_minutes_past_midnight(x))

In [22]:
df.head(10)

,train_number,from,to,departure_time,arrival_time,first_class,second_class
0,2123,2,3,420,460,4,58
1,2123,3,4,463,518,14,328
2,2127,1,2,408,475,47,340
3,2127,2,3,481,521,35,272
4,2127,3,4,523,578,19,181
5,2131,1,2,475,538,100,616
6,2131,2,3,542,581,52,396
7,2131,3,4,583,638,27,270
8,2135,1,2,536,598,61,407
9,2135,2,3,603,643,41,364